### Data Extraction ###

#### Scraping data to get Localities/Neighbourhoods of Berlin and their Population ####

##### 1. Importing Necessary Libraries #####

In [1]:
import pandas as pd # library for data analsysis
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

In [2]:
#scraping the Wikipedia page in order to obtain the data that is in the table of postal codes 
table_berlin = pd.read_html('https://en.wikipedia.org/wiki/Boroughs_and_neighborhoods_of_Berlin')

In [3]:
# read_html returns a list of all tables present on the html page where each element of list is a dataframe
#Taking individual dataframes out of the list
df1 = table_berlin[2]
df2 = table_berlin[3]
df3 = table_berlin[4]
df4 = table_berlin[5]
df5 = table_berlin[6]
df6 = table_berlin[7]
df7 = table_berlin[8]
df8 = table_berlin[9]
df9 = table_berlin[10]
df10 = table_berlin[11]
df11 = table_berlin[12]
df12 = table_berlin[13]

In [4]:
#Merging all the Dataframes extracted to form a single table
df= pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])

In [5]:
#Removing unnecessary column
del df['Map']

In [6]:
#correcting index
df = df.reset_index(drop=True)

In [7]:
df.head()

,Locality,Area in km²,Population as of 2008,Density inhabitants per km²
0,(0101) Mitte,10.70,79582,7445
1,(0102) Moabit,7.72,69425,8993
2,(0103) Hansaviertel,0.53,5889,11111
3,(0104) Tiergarten,5.17,12486,2415
4,(0105) Wedding,9.23,76363,8273

##### 2. Finding Location Coordinates of all Localities Extracted #####

In [8]:
#Converting Locality Column to a list 
nlist = df["Locality"].tolist()

In [9]:
#fetching latitude and longitude of each locality by passing locality names
latitude = []
longitude = []
for i in nlist:
    address = i
    geolocator = Nominatim(user_agent="ny_explorer")
    location = geolocator.geocode(address,timeout=10)
    lat = location.latitude
    latitude.append(lat)
    long = location.longitude
    longitude.append(long)

In [10]:
#Converting latitude and longitude frame to dataframes
df_lat = pd.DataFrame(latitude)
df_long = pd.DataFrame(longitude)

In [11]:
#Adding latitude to the main dataframe
df_new = pd.merge(df, df_lat,left_index=True, right_index=True)

In [12]:
#Adding Longitude to the Main Dataframe
df_final = pd.merge(df_new, df_long,left_index=True, right_index=True)

In [13]:
#Renaming the columns
df_final = df_final.rename(columns = {"0_x": "latitude", 
                                  "0_y":"longitude"})

##### 3. Storing the resulting dataframe as a CSV file named berlin_localities#####

In [14]:
df_final.to_csv(r'C:\Users\GAURI TOSHNIWAL\Documents\zcoursera\Capstone\final_project\berlin_localities.csv')